<!--
created on 1/6/20

by Darshan Bajania
-->
{% extends 'my_app/profile.html' %}

<style>



</style>




{% block content %}

<body>

    <div class=" container btncolour  shadow-lg my-5" style="width: 800px;">
        <h4 class="list-group-item   text-center text-light shadow-lg btncolour  rounded"
            style="font-family:Arial, Helvetica, sans-serif;font-size:32px;">Update Skills</h4>
        {% comment %} <div class="my-2 text-center">
            <h5 class="text-light">Add New Skills</h5>
            <form method="POST">
                {% csrf_token %}
                <input type="text" id="new_skill" name="new_skills" placeholder="skills">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div> {% endcomment %}
        <div class="container ">

            {% for key, value in user_skills_level.items %}
            <div class="d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="flex">
                        <div class="card mb-4 md-4 bg-secondary ">
                            <div class="card-body  ">
                                <div class="row d-flex  justify-content-center">
                                    {% if value == 0 %}
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    {% elif value == 1 %}
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    {% elif value == 2 %}
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    {% else %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                                <strong>
                                    <p class="card-text text-light text-center py-2">{{ key }}</p>
                                </strong>
                            </div>
                        </div>

                    </div>

                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex mt-4 ">
                        <div class=" mx-1 ">
                            <select class="bg-secondary rounded text-light p-2 " id="ca" name="{{ key }}">
                                <option class="bg-dark" value="{{values|add:1}}">Novice</option>
                                <option class="bg-dark" value="{{values|add:2}}">Intermediate</option>
                                <option class="bg-dark" value="{{values|add:3}}">Pro</option>
                            </select>
                        </div>
                        <div class="mx-1">
                            <button type="submit" class="btn btn-secondary  p-2">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
            {% endfor %}


        </div>

    </div>
</body>
{% endblock  %}